@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  /* overflow: hidden; */
}

.tra::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

.tra::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 10px;
}
